@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.home-title {
    color: #000000;
    background-color: rgba(87, 100, 83, 0.9);
    font-family: "Grape Nuts", Helvetica, Georgia;
    font-size: 3em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1600px;
    margin: 0 auto;
    align-items: start;
    justify-items: center;
    row-gap: 3rem;
}

h2 {
    margin: 0;
}

h4 {
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.button-box {
    text-align: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top:-100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    opacity: 90%;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-img {
    width: 100%;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#backgrounds {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: rgb(224, 224, 224);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(255,145,71, 0.5);
}

.book, .join {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover .join:hover {
    background-color: #339CFF;
    color: white;
}

.msg {
    background-color: #EBEBEB;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: black;
    font-family: "Grape Nuts", Helvetica, Georgia;
}

.msg p {
    color: black;
    font-family: "Zalando Sans SemiExpanded", Helvetica, sans-serif;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    background-color: #6f7364;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}

footer p {
    font-size: 1.2em;
}

footer p:hover {
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

.icon {
    display: block;
    margin: 10px auto;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
    text-align: center;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
    text-align: center;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
    text-align: center;
}

.card-img {
    width: 100%;
    max-width: 250px;
    border: 10px solid #D9BF77;
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform 0.5s ease;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img .mountains {
    width: 100%;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}