body {
    margin: 0;
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    height: 550px;
    position: relative;
}

/* --- Layout items using grid lines --- */
h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-self: end;
    justify-self: center;
    font-size: 100px;
    color: black;
    z-index: 2;
}

.cherries-img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    max-width: 80%;
    height: auto;
    z-index: 1;
}

.gray-box {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: end;
}

.gray-box h4 {
    font-size: 60px;
    color: darkred;
    letter-spacing: 2px;
}
