@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    background: #F4F1EC;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #7A8E60;
    border-bottom: 10px solid #C77966;
    border-left: 10px solid #C77966;
    border-right: 10px solid #C77966;
}

#logo-link {
    padding: 5px;
    justify-self: center;
    align-self: center;
    background: #4b5a33;
    border-radius: 5px;
}

#logo-link img {
    width: 100px;
    height: 100px;
    background: rgb(20, 19, 19, 0.9);
    border-radius: 50%;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: "Zalando Sans", Helvetica, Georgia;
}

.top-nav a {
    color: #1f1f1f;
    background: #6C7E55;
    text-decoration: none;
    width: 200px;
    margin-bottom: 15px;
    margin-top: 30px;
    padding: 15px;
    font-size: 25px;
    border-radius: 25px;
}

.top-nav a:hover {
    background-color: #AFC6A1;
    color: black;
}

.about-me-nav {
    margin-left: -50px;
    margin-right: 150px;
}

.home-nav {
    margin-left: -100px;
    margin-right: -250px
}

.projects-nav {
    margin-right: 50px;
    margin-left: -450px;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 1fr 600px 1fr 1fr;
    place-items: center;
    max-width: 1600px;
}

#intro-box {
    grid-column: 3/4;
    padding-top: 20px;
}

#intro-box img {
    border-radius: 20px;
    border: 5px solid rgb(243, 243, 243);
}

#intro p {
    grid-column: 3/4;
    text-align: center;
    background: #AFC6A1;
    color: black;
    font-size: 20px;
    width: 100%;
    padding: 20px;
    font-family: Spectral, Helvetica, sans-serif;
    z-index: 0;
    border: 5px solid #667a46;
    border-radius: 5px;
}

.divider {
    background: #C77966;
    border: 2px solid #b46e5c;
    grid-column: 3/4;
    width: 1400px;
    height: 20px;
    justify-self: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1600px;
    margin: 0 auto;
    align-items: start;
    justify-items: center;
    row-gap: 3rem;
}

.web-design-card {
    margin: 100px 0;
    grid-column: 3/5;
    text-align: center;
    background: #AFC6A1;
    padding: 30px;
    font-family: "Zalando Sans", Helvetica, Georgia;
    border-radius: 10px;
    border: 5px solid #667a46;
}

.card-image:hover {
    opacity: .6;
    transform: scale(1.1);
}

.programming-card {
    margin: 100px 0;
    grid-column: 7/9;
    text-align: center;
    background: #AFC6A1;
    padding: 30px;
    font-family: "Zalando Sans", Helvetica, Georgia;
    border-radius: 10px;
    border: 5px solid #667a46;
}

.card-image {
    width: 250px;
    height: 300px;
    transition: transform 0.5s ease;
    border: 5px solid #667a46;
    border-radius: 5px;
}

.skills {
    color: black;
    font-size: 35px;
    background: #667a46;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: #7A8E60;
    color: black;
    border-top: 10px solid #C77966;
    border-left: 10px solid #C77966;
    border-right: 10px solid #C77966;
}

.bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.bottom-nav {
    grid-column: 2/3;
    justify-self: center;
    padding: 5px;
    text-align: center;
    font-family: "Zalando Sans", Helvetica, Georgia;
}

.bottom-nav h3 {
    margin-right: -25px;
}

.bottom-contact {
    grid-column: 5/8;
    justify-self: center;
    padding: 5px;
    margin-left: -120px;
    text-align: center;
}

.bottom-contact h3 {
    text-decoration: underline;
    margin-bottom: 30px;
}

.bottom-contact p {
    margin-bottom: -10px;
}

.bottom-contact a {
    text-decoration: underline;
    color: black;
}

.bottom-contact a:visited {
    text-decoration: underline;
    color: black;
}

.bottom-nav h3{
    text-decoration: underline;
}

.bottom-nav a {
    text-decoration: none;
    color: black;
}

.bottom-nav li {
    text-decoration: none;
    background: #6C7E55;
    margin: 5px;
}

.bottom-nav li:hover {
    text-decoration: none;
    background: #AFC6A1;
}

.bottom-nav a:visited {
    text-decoration: none;
    color: black;
}

.social {
    grid-column: 9/10;
    display: grid;
    place-items: center;
    padding: 5px;
}

.social img {
    width: 75px;
    height: 75px;
}

/* About Me CSS */

#aboutme-grid {
    display: grid;
    grid-template-columns: 90px 645px 65px 65px 645px 90px;
}

.aboutme-card {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    margin: 30px;
    background: #AFC6A1;
    border: 5px solid #667a46;
    border-radius: 5px;
}

.aboutme-card h2 {
    text-decoration: underline;
    font-family: "Zalando Sans", Helvetica, Georgia;
}

.aboutme-card p {
    text-align: justify;
    font-family: Spectral, Helvetica, sans-serif;
}

.utah-box {
    grid-column: 4/6;
    grid-row: 2/3;
    width: 485px;
    height: 485px;
    margin: 30px;
    margin-right: 150px;
    justify-self: center;
    align-self: center;
    border: 5px solid black;
    border-radius: 5px;
}

.gaming-box {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 485px;
    height: 485px;
    justify-self: center;
    align-self: center;
    border: 5px solid black;
    border-radius: 5px;
}

.proficiencies-card {
    grid-column: 4/6;
    grid-row: 3/4;
    text-align: center;
    font-size: 22px;
    padding: 50px;
    margin: 30px;
    margin-right: 150px;
    background: #AFC6A1;
    border: 5px solid #667a46;
    border-radius: 5px;
}

.proficiencies-card h2 {
    text-decoration: underline;
    font-family: "Zalando Sans", Helvetica, Georgia;
}

.proficiencies-card p {
    text-align: justify;
    font-family: Spectral, Helvetica, sans-serif;
}

.background {
    background: #C77966;
    margin: 40px;
    padding-bottom: 15px;
}

.values-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 200px;
}

#value-title {
    grid-column: 1/8;
    grid-row: 1/2;
    text-align: center;
    font-size: 50px;
    font-family: "Zalando Sans", Helvetica, Georgia;
    margin-bottom: 150px;
    margin-top: -90px;
    background: #768c53;
    width: 100%;
    border: 2px solid black;
}

.communication-card {
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.team-work-card {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.resilience-card {
    grid-column: 7/8;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.values-msg {
    background: #C77966;
    border: 5px solid #b46e5c;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Spectral, Helvetica, sans-serif;
}

.value-img {
    width: 250px;
    height: 250px;
    justify-self: center;
    align-self: center;
    border: 5px solid black;
    border-radius: 5px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

#project-link {
    color: black;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
  position: relative;
  width: 100%;
}

.container:hover .value-img {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 1;
}

.over-text {
  background-color: #808080;
  color: white;
  font-size: 22px;
  padding: 16px 32px;
  border-radius: 90px;
  white-space: nowrap;
  font-family: "Zalando Sans", Helvetica, Georgia;
}

.alt-over-text {
  background-color: #ffffff;
  color: #000000;
  font-size: 22px;
  padding: 25px 32px;
  border-radius: 90px;
  font-family: "Zalando Sans", Helvetica, Georgia;
}

.img-backing {
    background: #ffffff;
    height: 260px;
    margin-bottom: 20px;
}

/* Projects page css */

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 300px 1fr 300px 1fr 1fr;
}

.programmer-card {
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 100px 0;
    text-align: center;
    background: #AFC6A1;
    padding: 80px;
    border-radius: 10px;
    border: 5px solid #667a46;
}

.designer-card {
    grid-column: 5/7;
    grid-row: 1/2;
    margin: 100px 0;
    text-align: center;
    background: #AFC6A1;
    padding: 80px;
    border-radius: 10px;
    border: 5px solid #667a46;
}

.programmer-card img {
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    border-radius: 5px;
}

.designer-card img {
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    border-radius: 5px;
}

.programmer-card h3 {
    background: #768c53;
    border-radius: 5px;
    border: 2px solid black;
    font-family: "Zalando Sans", Helvetica, Georgia;
    padding: 20px;
}

.designer-card h3 {
    background: #768c53;
    border-radius: 5px;
    border: 2px solid black;
    font-family: "Zalando Sans", Helvetica, Georgia;
    padding: 20px;
}

.programmer-card p {
    background: #C77966;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    text-align: justify;
    font-family: Spectral, Helvetica, sans-serif;
}

.designer-card p {
    background: #C77966;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    text-align: justify;
    font-family: Spectral, Helvetica, sans-serif;
}

/* project grid */

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 200px;
}

.word-game-card {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    justify-self: center;
    text-align: center;
}

.rafting-site-card {
    grid-column: 4/6;
    grid-row: 3/4;
    justify-self: center;
    text-align: center;
}

.text-adventure-card {
    grid-column: 7/9;
    grid-row: 3/4;
    justify-self: center;
    text-align: center;
}

.word-game-card h2 {
    font-size: 20px;
    background: #C77966;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    text-decoration: underline;
    margin-bottom: 65px;
    font-family: "Zalando Sans", Helvetica, Georgia;
}

.rafting-site-card h2 {
    font-size: 20px;
    white-space: nowrap;
    background: #C77966;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 65px;
    font-family: "Zalando Sans", Helvetica, Georgia;
}

.rafting-site-card a {
    color: #000000;
}

.text-adventure-card h2 {
    font-size: 20px;
    white-space: nowrap;
    background: #C77966;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    text-decoration: underline;
    margin-bottom: 65px;
    font-family: "Zalando Sans", Helvetica, Georgia;
}

.word-game-card p {
    text-align: center;
    background: #7A8E60;
    font-size: 20px;
    border: 3px solid #6C7E55;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 45px;
    margin-bottom: 100px;
    font-family: Spectral, Helvetica, sans-serif;
}

.rafting-site-card p {
    text-align: center;
    background: #7A8E60;
    font-size: 20px;
    border: 3px solid #6C7E55;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 45px;
    font-family: Spectral, Helvetica, sans-serif;
}

.text-adventure-card p {
    text-align: center;
    background: #7A8E60;
    font-size: 20px;
    border: 3px solid #6C7E55;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 45px;
    font-family: Spectral, Helvetica, sans-serif;
}

#projects-title {
    grid-column: 1/9;
    grid-row: 1/2;
    text-align: center;
    font-size: 50px;
    background: #768c53;
    width: 100%;
    border: 3px solid black;
    margin-bottom: 150px;
    margin-top: -90px;
    font-family: "Zalando Sans", Helvetica, Georgia;
}