#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgb(148, 148, 148);
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #66FF4F;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#head-logo {
    width: 150px;
    height: 150px;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.top-nav a {
    color: black;
    text-decoration: none;
    padding: 35px;
}

.top-nav a:hover {
    background-color: #00CED1;
    color: black;
}